#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(121, 121, 121, 0.526);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio_card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 351px;
    overflow: hidden;
}

.photographer__localisation {
    color: #901C1C;
}

.card__img_link_container {
    display: flex;
    align-items: flex-end;
    width: 350px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#gallery_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.gallery_modal_main_container {
    position: relative;
}

.gallery_modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_modal__media_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 900px;
    overflow: hidden;
}

.gallery_modal__photo {
    width: fit-content;
    height: 100%;
}

.gallery_modal__video {
    width: 100%;
}

.gallery_modal__title {
    width: 100%;
    font-size: 24px;
    color: #901C1C;
}

.gallery_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.gallery_modal__previous {
    margin-right: 20px;

}

.gallery_modal__next {
    margin-left: 20px;
}

.gallery_modal__close-modal {
    position: absolute;
    top: 10px;
    right: -68px;
    font-size: 36px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

